NODE_ENV=development
PORT=3000
ADMIN_SECRET=<YOUR_ADMIN_SECRET>
GITHUB_TOKEN=<YOUR_GITHUB_TOKEN>
VERCEL_TOKEN=<YOUR_VERCEL_TOKEN>
VERCEL_ORG_ID=<YOUR_VERCEL_ORG_ID>
VERCEL_PROJECT_ID=<YOUR_VERCEL_PROJECT_ID>
